*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(197, 219, 245);
}

.post_list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post_title, .post_content{
    padding: 10px 0;
    font-size: 20px;
    word-wrap: break-word;
    white-space: normal;
    width: 300px;
    max-width: 100%;
}

.post_heading{
    padding: 50px 0 20px 50px;
    color: #fff;
    font-size: 32px;
    color: #333
}

article{
    border-radius: 10px;
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: #645858;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input{
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

textarea{
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 32px 32px;
}

label{
    padding: 20px 0;
    color: #fff;
}

.save_btn{
    padding: 10px;
    border-radius: 5px;
    background-color: #645858;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.create_post{
    margin: auto;
    background-color: #645858;
    width: fit-content;
    border-radius: 10px;
}

.title{
    margin-top: 50px;
    padding: 15px;
    color: #fff;
}

select{
    padding: 15px;
}

.reaction_btn{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 10px 10px 10px 0;
}